.back {
  border-radius: 10px;
  position: absolute;
  padding-top: 80px;
  margin-right: 20px;
  right: 0;
}

.back_button {
  margin: 5px;
  border: 1px solid #32a852;
  color: #8b9aa6;
  width: 130px;
  height: 70px;
}

